body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.viewmode-group {
	position: absolute;
	z-index: 999;
	bottom: 20px;
	left: 20px;
}

.btn {
	width: 45px;
	height: 30px;
	border: 1px solid #ccc;
	color: #333;
	background-color: #fff;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.btn-default {
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	border: 1px solid #ccc;
	color: #333;
	background-color: #fff;
	line-height: 30px;
	font-size: 14px;
	border-radius: 3px;
}

#table-container {
	position: fixed;
	width: 100%;
	height: auto;
	max-height: 200px;
	bottom: 0px;
	background-color: #f1f2f7;
	display: block;
	overflow-y: auto;
	font-size: 14px;
	text-align: center;
	z-index: 999;
}
.title {
	width: 30px;
	float: right;
	right: 0px;
	cursor: pointer;
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#table-container table {
	background-color: white;
}
.table-bordered {
	border: 1px solid #ddd;
}
#table-container table tr {
	height: 30px;
	color: #666;
}
.table {
	width: 100%;
	max-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

#indoorMap {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#loading {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 30px;
	margin: auto;
}

.customCursor {
	cursor: url('/src/assets/img/point.png') 2 2, default;
}
.legendRow {
	line-height: 14px;
	font-size: 14px;
	margin-bottom: 4px;
}

.legendIcon {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 8px;
	vertical-align: middle;
	margin-right: 2px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.iconDel {
	position: relative;
	display: inline-block;
	left: 3px;
	top: 2.5px;
	height: 14px;
	width: 14px;
	background-repeat: no-repeat;
	background-size: contain;
}
